<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="gui" default="true" />
	<arg name="rviz_config_file" default="$(find treedet_ros)/rviz/view_dets.rviz" />
	<arg name="use_sim_time" default="true"/>

	<param name="/use_sim_time" value="$(arg use_sim_time)"/>

	<!-- Load description -->
	<include file="$(find harveri_description)/launch/load.launch" />

	<!-- run self-filtering on lidar pcl -->
	<!-- doesn't really work atm. because the boom doesn't get filtered -->
	<include file="$(find harveri_mapping)/launch/harveri_self_see_filter.launch"/>

	<node pkg="treedet_ros" name="publish_targets" type="publish_targets" output="screen" />
	<node pkg="treedet_ros" name="main" type="main" output="screen" />
	<node if="$(arg gui)" name="rviz_tree_detection" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)" required="true"/>
</launch>